<form action="/tasks" method="post">
  <input type="text" name="task[name]" id="name" placeholder="What do you need to do?">
  <input type="integer" name="task[difficulty]" id="difficulty" placeholder="Difficulty rating 1-5">
  <input type="integer" name="task[duration]" id="duration" placeholder="How long will it take (in minutes)">
  <input type="checkbox" name="task[done]" id="done" placeholder="Done?">
  <input type="submit">
</form>
